body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.slider-width {
  width: 300px;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

th {
    background-color: #4CAF50;
    color: white;
    text-align: left;
}
