<launch>
        <node name="state_publisher" pkg="hexapod_controller" type="state_publisher.py" />
        <node name="hexapod_controller" pkg="hexapod_controller" type="hexapod_controller.py" />

        <node name="web_server" pkg="beginner_tutorials" type="pwm_web_control.py" />
        <node name="servo_driver" pkg="servo" type="servo_driver.py" />
</launch>

