<!doctype html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='hexapod.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.2.3.js')}}"></script>

    <script>

function setGait(gait) {
    $.get("/gait?value=" + gait, function(data) {
        $('#current_gait').html(data);
    });
}
    </script>

</head>
<body>
    <title>Hexapod Web Control</title>

    <table style="width:300px" border="0">
        <tr><td colspan="3"><center><h1>Hexapod Web Control</h1></center></td></tr>
        <tr>
            <td><button class="button button_size" onclick="setGait('ForwardLeft')">Forward Left</button></td>
            <td><button class="button button_size" onclick="setGait('Walk')">Walk</button></td>
            <td><button class="button button_size" onclick="setGait('ForwardRight')">Forward Right</button></td>
        </tr>
        <tr>
            <td><button class="button button_size" onclick="setGait('TurnLeft')">Turn Left</button></td>
            <td><button class="button button_size" onclick="setGait('Idle')">Idle</button></td>
            <td><button class="button button_size" onclick="setGait('TurnRight')">Turn Right</button></td>
        </tr>
        <tr>
            <td><button class="button button_size" onclick="setGait('CrabLeft')">Crab Left</button></td>
            <td><button class="button button_size" onclick="setGait('WalkBack')">Walk Back</button></td>
            <td><button class="button button_size" onclick="setGait('CrabRight')">Crab Right</button></td>
        </tr>
        <tr>
            <td></td>
            <td><button class="button button_size" onclick="setGait('Pressup')">Pressup</button></td>
            <td></td>
        </tr>
    </table>
    <p>
    <div id="current_gait">Current Gait:</div>
</body>

