<launch>
        <param name="robot_description" command="cat $(find servo)/urdf/servo.urdf" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
        <node name="web_server" pkg="beginner_tutorials" type="pwm_web_control.py" />
        <node name="state_publisher" pkg="servo" type="state_publisher.py" />
</launch>

